.heading{
    font-family: cursive;
    font-size: 30px;
    margin: 0px;
    border-radius: 0px;
    box-shadow: 5px 5px 18px grey;
    color: black;
}
.note{
    font-size: 25zpx;
    color: rgb(243, 198, 114);
}
.footer{
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: grey;
    color: white;
    line-height: 3;
    text-align: center;
    font-size: 20px;
}
canvas{
    border: dashed black 5px;
    border-radius: 0;
}